a(href="snek.me/TSG" style="padding: 10px 20px;background:#FF9B54;font-family: 'Segoe UI', sans-serif;text-decoration:none;color:#222;font-weight: bold;position:absolute;left: 50%;top:50%;transform:translateY(-50%) translateX(-50%);margin:0 auto;display:block;width: 100px;text-align:center;border-radius: 4px") TSG
