//- file: index.pug doctype html
doctype html
html
	head
		include app/layout/header.pug
	body
		include app/layout/navigation-menu.pug
		include app/home/home-main.pug
		include app/layout/footer.pug
