//- Home Main
section.home
  .container
    .topic
      h2.topic-title A big fucking damn title
      div.item-grid.topic-grid
        article.single-card
          div.card-photo
            a(href="javascript:void(0)").cover-link
          header.header
            a(href="")
              .avatar-container
                img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguOTQgMjE1LjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZWMwMDhjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+QXNzZXQgMTwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMzgsMjIuMTdhNzUuNjksNzUuNjksMCwxLDAsMjIuMTcsNTMuNTJBNzUuNDUsNzUuNDUsMCwwLDAsMTM4LDIyLjE3Wk04NC40NywxMzEuMzhhNTUuNjksNTUuNjksMCwxLDEsNTUuNjktNTUuNjlBNTUuNzUsNTUuNzUsMCwwLDEsODQuNDcsMTMxLjM4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTg0LjQ3LDE2NC44OUExMjIuOSwxMjIuOSwwLDAsMCw0LjI4LDE5NC41NkMtNC4yNSwyMDEuODYuODEsMjE1LjgsMTIsMjE1LjhoMGExMi4wOCwxMi4wOCwwLDAsMCw3Ljg3LTIuOTQsOTkuMTcsOTkuMTcsMCwwLDEsMTI5LjE0LDAsMTIuMTIsMTIuMTIsMCwwLDAsNy44NywyLjk0aDBjMTEuMjIsMCwxNi4yOC0xMy45NCw3Ljc2LTIxLjI0QTEyMi45MSwxMjIuOTEsMCwwLDAsODQuNDcsMTY0Ljg5WiIvPjwvZz48L2c+PC9zdmc+", alt="").avatar
            .titleandtime
              .title TITLE
              .post-time Jan 27, 2020
        article.single-card
          div.card-photo
            a(href="javascript:void(0)").cover-link
          header.header
            a(href="")
              .avatar-container
                img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguOTQgMjE1LjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZWMwMDhjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+QXNzZXQgMTwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMzgsMjIuMTdhNzUuNjksNzUuNjksMCwxLDAsMjIuMTcsNTMuNTJBNzUuNDUsNzUuNDUsMCwwLDAsMTM4LDIyLjE3Wk04NC40NywxMzEuMzhhNTUuNjksNTUuNjksMCwxLDEsNTUuNjktNTUuNjlBNTUuNzUsNTUuNzUsMCwwLDEsODQuNDcsMTMxLjM4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTg0LjQ3LDE2NC44OUExMjIuOSwxMjIuOSwwLDAsMCw0LjI4LDE5NC41NkMtNC4yNSwyMDEuODYuODEsMjE1LjgsMTIsMjE1LjhoMGExMi4wOCwxMi4wOCwwLDAsMCw3Ljg3LTIuOTQsOTkuMTcsOTkuMTcsMCwwLDEsMTI5LjE0LDAsMTIuMTIsMTIuMTIsMCwwLDAsNy44NywyLjk0aDBjMTEuMjIsMCwxNi4yOC0xMy45NCw3Ljc2LTIxLjI0QTEyMi45MSwxMjIuOTEsMCwwLDAsODQuNDcsMTY0Ljg5WiIvPjwvZz48L2c+PC9zdmc+", alt="").avatar
            .titleandtime
              .title TITLE
              .post-time Jan 27, 2020
        article.single-card
          div.card-photo
            a(href="javascript:void(0)").cover-link
          header.header
            a(href="")
              .avatar-container
                img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguOTQgMjE1LjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZWMwMDhjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+QXNzZXQgMTwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMzgsMjIuMTdhNzUuNjksNzUuNjksMCwxLDAsMjIuMTcsNTMuNTJBNzUuNDUsNzUuNDUsMCwwLDAsMTM4LDIyLjE3Wk04NC40NywxMzEuMzhhNTUuNjksNTUuNjksMCwxLDEsNTUuNjktNTUuNjlBNTUuNzUsNTUuNzUsMCwwLDEsODQuNDcsMTMxLjM4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTg0LjQ3LDE2NC44OUExMjIuOSwxMjIuOSwwLDAsMCw0LjI4LDE5NC41NkMtNC4yNSwyMDEuODYuODEsMjE1LjgsMTIsMjE1LjhoMGExMi4wOCwxMi4wOCwwLDAsMCw3Ljg3LTIuOTQsOTkuMTcsOTkuMTcsMCwwLDEsMTI5LjE0LDAsMTIuMTIsMTIuMTIsMCwwLDAsNy44NywyLjk0aDBjMTEuMjIsMCwxNi4yOC0xMy45NCw3Ljc2LTIxLjI0QTEyMi45MSwxMjIuOTEsMCwwLDAsODQuNDcsMTY0Ljg5WiIvPjwvZz48L2c+PC9zdmc+", alt="").avatar
            .titleandtime
              .title TITLE
              .post-time Jan 27, 2020
        article.single-card
          div.card-photo
            a(href="javascript:void(0)").cover-link
          header.header
            a(href="")
              .avatar-container
                img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguOTQgMjE1LjgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZWMwMDhjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+QXNzZXQgMTwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMzgsMjIuMTdhNzUuNjksNzUuNjksMCwxLDAsMjIuMTcsNTMuNTJBNzUuNDUsNzUuNDUsMCwwLDAsMTM4LDIyLjE3Wk04NC40NywxMzEuMzhhNTUuNjksNTUuNjksMCwxLDEsNTUuNjktNTUuNjlBNTUuNzUsNTUuNzUsMCwwLDEsODQuNDcsMTMxLjM4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTg0LjQ3LDE2NC44OUExMjIuOSwxMjIuOSwwLDAsMCw0LjI4LDE5NC41NkMtNC4yNSwyMDEuODYuODEsMjE1LjgsMTIsMjE1LjhoMGExMi4wOCwxMi4wOCwwLDAsMCw3Ljg3LTIuOTQsOTkuMTcsOTkuMTcsMCwwLDEsMTI5LjE0LDAsMTIuMTIsMTIuMTIsMCwwLDAsNy44NywyLjk0aDBjMTEuMjIsMCwxNi4yOC0xMy45NCw3Ljc2LTIxLjI0QTEyMi45MSwxMjIuOTEsMCwwLDAsODQuNDcsMTY0Ljg5WiIvPjwvZz48L2c+PC9zdmc+", alt="").avatar
            .titleandtime
              .title TITLE
              .post-time Jan 27, 2020
